<template>
  <v-container>
    <v-row>
      <v-col cols="9" pr-2>
        <items-list />
        <customer />
      </v-col>
      <v-col cols="3">
        <taxes />
      </v-col>
    </v-row>
  </v-container>
</template>
<script>
import ItemsList from "../views/ItemsList";
import Customer from "../views/customer/Form";
import Taxes from "../views/tax/Taxes";

export default {
  components: {
    ItemsList,
    Customer,
    Taxes
  },

  mounted() {}
};
</script>
