<template>
  <v-data-table
    :headers="headers"
    :items="items"
    sort-by="name"
    class="elevation-1"
  >
    <template v-slot:top>
      <v-toolbar flat color="white">
        <v-toolbar-title>Items</v-toolbar-title>

        <v-divider class="mx-4" inset vertical></v-divider>
        <v-spacer></v-spacer>

        <v-dialog v-model="dialog" max-width="600px" persistent>
          <template v-slot:activator="{ on }">
            <v-btn color="success" dark class="mb-2" v-on="on">
              <v-icon>mdi-cart-plus</v-icon>
            </v-btn>
          </template>
          <v-card>
            <v-card-title>
              <span class="headline">{{ formTitle }}</span>
            </v-card-title>

            <v-card-text>
              <v-container>
                <v-form ref="form">
                  <v-row>
                    <v-col cols="12">
                      <v-text-field
                        v-model="editedItem.name"
                        :rules="[inputRules.required]"
                        outlined
                        label="Item name"
                      />
                    </v-col>
                    <v-col cols="6" class="pr-2">
                      <v-text-field
                        v-model="editedItem.code"
                        :rules="[inputRules.counter]"
                        counter="25"
                        outlined
                        label="Code"
                      />
                    </v-col>
                    <v-col cols="6">
                      <v-text-field
                        v-model="editedItem.quantity"
                        :rules="[inputRules.required, inputRules.min]"
                        outlined
                        label="Quantity"
                        type="number"
                      />
                    </v-col>
                    <v-col cols="6" class="pr-2">
                      <v-text-field
                        v-model="editedItem.price"
                        :rules="[inputRules.required, inputRules.min]"
                        outlined
                        label="Price"
                        type="number"
                      />
                    </v-col>
                    <v-col cols="6">
                      <v-text-field
                        v-model="editedItem.tax"
                        :rules="[inputRules.min, inputRules.max]"
                        outlined
                        label="Tax (%)"
                        type="number"
                      />
                    </v-col>
                  </v-row>
                </v-form>
              </v-container>
            </v-card-text>

            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="blue darken-1" text @click="close">Cancel</v-btn>
              <v-btn color="blue darken-1" text @click="save">Save</v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-toolbar>
    </template>
    <template #item.actions="{ item }">
      <v-icon small class="mr-2" @click="editItem(item)"> mdi-pencil </v-icon>
      <v-icon small color="error" @click="deleteItem(item)">
        mdi-delete
      </v-icon>
    </template>
  </v-data-table>
</template>

<script>
import Swal from "sweetalert2";

export default {
  data: () => ({
    dialog: false,
    inputRules: {
      required: value => !!value || "Required.",
      min: value => value >= 0 || "Min value 0",
      max: value => value <= 100 || "Max value 100",
      counter: value => value.length <= 25 || "Max 25 characters"
    },
    headers: [
      {
        text: "Name",
        align: "start",
        value: "name"
      },
      { text: "Code", value: "code" },
      { text: "Quantity", value: "quantity" },
      { text: "Price", value: "price" },
      { text: "Tax", value: "tax" },
      { text: "Total", value: "total" },
      { text: "Actions", value: "actions", sortable: false }
    ],
    items: [],
    editedIndex: -1,
    editedItem: {
      name: "",
      code: "N/A",
      quantity: 0,
      price: 0,
      tax: 0
    },
    defaultItem: {
      name: "",
      code: "N/A",
      quantity: 0,
      price: 0,
      tax: 0
    }
  }),

  computed: {
    formTitle() {
      return this.editedIndex === -1 ? "New Item" : "Edit Item";
    }
  },

  watch: {
    dialog(val) {
      val || this.close();
    },

    "editedItem.quantity": {
      handler() {
        this.getTotal();
      },
      deep: true
    },

    "editedItem.price": {
      handler() {
        this.getTotal();
      },
      deep: true
    },

    "editedItem.tax": {
      handler() {
        this.getTotal();
      },
      deep: true
    }
  },

  methods: {
    getTotal() {
      this.editedItem.total =
        this.editedItem.quantity *
        this.editedItem.price *
        (1 + this.editedItem.tax / 100);
    },
    editItem(item) {
      this.editedIndex = this.items.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.dialog = true;
    },

    deleteItem(item) {
      const index = this.items.indexOf(item);

      Swal.fire({
        title: "Remove item from cart?",
        icon: "warning",
        showCancelButton: true,
        confirmButtonText: "YES",
        cancelButtonText: "NO"
      }).then(result => {
        if (result.value) {
          this.items.splice(index, 1);
        }
      });
    },

    close() {
      this.dialog = false;
      setTimeout(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      }, 300);
    },

    save() {
      if (this.$refs.form.validate()) {
        if (this.editedIndex > -1) {
          Object.assign(this.items[this.editedIndex], this.editedItem);
        } else {
          this.items.push(this.editedItem);
        }
        this.close();
      }
    }
  }
};
</script>
