<template>
  <v-card v-if="customer">
    <v-card-title primary-title>
      Customer Details
      <v-spacer></v-spacer>
      <v-icon @click="$emit('close')">mdi-close</v-icon>
    </v-card-title>
    <v-card-text>
      <v-list nav dense disabled>
        <v-list-item-group color="primary">
          <v-row row wrap>
            <v-col cols="6" v-for="(item, i) in customer.user" :key="i">
              <v-list-item>
                <v-list-item-avatar
                  ><v-icon v-text="item.icon"></v-icon
                ></v-list-item-avatar>

                <v-list-item-content>
                  <v-list-item-title
                    v-text="item.fieldName"
                  ></v-list-item-title>
                  <v-list-item-subtitle
                    v-text="item.value"
                  ></v-list-item-subtitle>
                </v-list-item-content>
              </v-list-item>
            </v-col>
            <template v-if="customer.isCompany">
              <v-col cols="12"><v-divider></v-divider></v-col>
              <v-col cols="6" v-for="(item, i) in customer.company" :key="i">
                <v-list-item>
                  <v-list-item-avatar
                    ><v-icon v-text="item.icon"></v-icon
                  ></v-list-item-avatar>

                  <v-list-item-content>
                    <v-list-item-title
                      v-text="item.fieldName"
                    ></v-list-item-title>
                    <v-list-item-subtitle
                      v-text="item.value"
                    ></v-list-item-subtitle>
                  </v-list-item-content>
                </v-list-item>
              </v-col>
            </template>
          </v-row>
        </v-list-item-group>
      </v-list>
    </v-card-text>
  </v-card>
</template>
<script>
export default {
  props: {
    customer: {
      type: Object,
      required: true,
      default: null
    }
  }
};
</script>
