<template>
  <div>
    <v-row>
      <v-col md="4" cols="12">
        <v-item-group mandatory>
          <v-item>
            <v-card
              class="d-flex align-center"
              dark
              height="160"
              @click="openDialog()"
            >
              <v-scroll-y-transition>
                <div class="flex-grow-1 text-center">
                  <div v-if="formChanged">
                    <v-icon x-large>mdi-account-edit</v-icon>
                    <div class="headline">Edit Customer</div>
                  </div>
                  <div v-else>
                    <v-icon x-large>mdi-account-plus</v-icon>
                    <div class="headline">Add Customer</div>
                  </div>
                </div>
              </v-scroll-y-transition>
            </v-card>
          </v-item>
          <v-alert v-if="!showCustomer" type="info" dense class="mt-3"
            >No customer added !</v-alert
          >
        </v-item-group>
      </v-col>
      <v-col md="8" cols="12">
        <customer-details
          v-if="showCustomer"
          :customer="customer"
          @close="removeCustomer"
        />
      </v-col>
    </v-row>
    <v-dialog v-model="dialog.add" width="800" persistent>
      <v-card>
        <v-card-title class="headline grey lighten-2" primary-title>
          Customer Information
        </v-card-title>

        <v-card-text class="mt-5 mb-n7">
          <ValidationObserver ref="observer">
            <form>
              <v-row>
                <v-col xs12 sm6 md6 lg6 xl6 class="px-2">
                  <ValidationProvider
                    v-slot="{ errors }"
                    name="Name"
                    rules="required"
                  >
                    <v-text-field
                      v-model="customer.user.name.value"
                      :error-messages="errors"
                      :label="customer.user.name.fieldName"
                      required
                      outlined
                    ></v-text-field>
                  </ValidationProvider>
                  <ValidationProvider
                    v-slot="{ errors }"
                    name="phone"
                    rules="numeric"
                  >
                    <v-text-field
                      v-model="customer.user.phone.value"
                      :error-messages="errors"
                      :label="customer.user.phone.fieldName"
                      required
                      outlined
                    ></v-text-field>
                  </ValidationProvider>
                  <ValidationProvider
                    v-slot="{ errors }"
                    name="email"
                    rules="email"
                  >
                    <v-text-field
                      v-model="customer.user.email.value"
                      :error-messages="errors"
                      :label="customer.user.email.fieldName"
                      required
                      outlined
                    ></v-text-field>
                  </ValidationProvider>
                  <v-checkbox
                    v-model="customer.isCompany"
                    label="Customer is a company ?"
                  ></v-checkbox>
                </v-col>
                <v-col xs12 sm6 md6 lg6 xl6 class="px-2">
                  <v-text-field
                    v-model="customer.user.address.value"
                    :label="customer.user.address.fieldName"
                    outlined
                  ></v-text-field>
                  <v-text-field
                    v-model="city"
                    label="City"
                    outlined
                  ></v-text-field>
                  <v-text-field
                    v-model="zipCode"
                    label="Zip code"
                    required
                    outlined
                  ></v-text-field>
                </v-col>
              </v-row>
              <v-row>
                <v-col xs12 sm6 md6 lg6 xl6 class="px-2">
                  <v-text-field
                    v-model="customer.company.companyName.value"
                    :disabled="!customer.isCompany"
                    :label="customer.company.companyName.fieldName"
                    outlined
                  ></v-text-field>
                </v-col>
                <v-col xs12 sm6 md6 lg6 xl6 class="px-2">
                  <v-text-field
                    v-model="customer.company.tradeRegisterNumber.value"
                    :disabled="!customer.isCompany"
                    :label="customer.company.tradeRegisterNumber.fieldName"
                    outlined
                  ></v-text-field>
                </v-col>
                <v-col xs12 sm6 md6 lg6 xl6 class="px-2">
                  <v-text-field
                    v-model="customer.company.tin.value"
                    :disabled="!customer.isCompany"
                    :label="customer.company.tin.fieldName"
                    outlined
                  ></v-text-field>
                </v-col>
              </v-row>
            </form>
          </ValidationObserver>
        </v-card-text>

        <v-divider></v-divider>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn text @click="dialog.add = false"> Cancel </v-btn>
          <v-btn color="success" text @click="submit"> Confirm </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>
<script>
import Swal from "sweetalert2";
import { required, email, numeric } from "vee-validate/dist/rules";

import {
  extend,
  ValidationObserver,
  ValidationProvider,
  setInteractionMode
} from "vee-validate";
import CustomerDetails from "./Details";

setInteractionMode("eager");

extend("required", {
  ...required,
  message: "{_field_} can not be empty"
});

extend("numeric", {
  ...numeric,
  message: "The {_field_} contains numeric characters only"
});

extend("email", {
  ...email,
  message: "Email must be valid"
});
export default {
  components: {
    ValidationProvider,
    ValidationObserver,
    CustomerDetails
  },
  data() {
    return {
      dialog: {
        add: false
      },
      formChanged: false,
      showCustomer: false,
      customer: null,
      newCustomer: {
        user: {
          name: {
            fieldName: "Name",
            value: null,
            icon: "mdi-account-circle"
          },
          phone: {
            fieldName: "Phone",
            value: null,
            icon: "mdi-phone"
          },
          email: {
            fieldName: "E-mail",
            value: null,
            icon: "mdi-email"
          },
          address: {
            fieldName: "Address",
            value: "N/A",
            icon: "mdi-map-marker"
          }
        },
        company: {
          companyName: {
            fieldName: "Company Name",
            value: "N/A",
            icon: "mdi-domain"
          },
          tradeRegisterNumber: {
            fieldName: "Trade Register Number",
            value: "N/A",
            icon: "mdi-pencil"
          },
          tin: {
            fieldName: "Tax Identification Number (TIN)",
            value: "N/A",
            icon: "mdi-pencil"
          }
        },
        isCompany: false
      },
      city: "N/A",
      zipCode: "N/A"
    };
  },
  mounted() {
    var _ = require("lodash");
    this.customer = _.cloneDeep(this.newCustomer);
  },
  methods: {
    openDialog() {
      this.dialog.add = true;
    },

    submit() {
      this.$refs.observer.validate().then(result => {
        if (result) {
          this.customer.user.address.value +=
            ", " + this.city + ", " + this.zipCode;
          this.dialog.add = false;
          this.showCustomer = true;
          this.formChanged = true;
        }
      });
    },

    removeCustomer() {
      if (this.showCustomer) {
        Swal.fire({
          title: "Remove customer?",
          icon: "warning",
          showCancelButton: true,
          confirmButtonText: "YES",
          cancelButtonText: "NO"
        }).then(result => {
          if (result.value) {
            var _ = require("lodash");
            this.customer = _.cloneDeep(this.newCustomer);

            this.formChanged = false;
            this.showCustomer = false;
          }
        });
      }
    }
  }
};
</script>
