<template>
  <v-app>
    <settings :dialog="dialog" @close="dialog = false"/>
    <v-app-bar
      app
      color="primary"
      dark
    >
      <v-icon large>mdi-file-document</v-icon>
      <v-toolbar-title>Invoicer</v-toolbar-title>
      <v-spacer></v-spacer>
      <v-btn text @click="dialog = true">settings</v-btn>
    </v-app-bar>

    <v-content>
      <Invoicer/>
    </v-content>
  </v-app>
</template>

<script>
import Invoicer from './views/Invoicer';
import Settings from './views/Settings'
export default {
  name: 'App',

  components: {
    Invoicer,
    Settings,
  },

  data() {
    return {
      dialog: false
    }
  },
};
</script>
